<h1>Clubhouse</h1>

<% if @posts %>
  <%= link_to "Create a post", new_post_path %>
  <div class="posts">
    <% @posts.each do |post| %>
      <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.body %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <h2>There are no posts yet...</h2>
  <%= link_to "Create a post", new_post_path %>
<% end %>